@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');

html, body {
    min-height:100%;
    height:100%;
}
body {
    background:#fff;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    line-height:1.4em;
}
#get3_login_page {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #2d2d2d;
    display:flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    border: 1px solid #dedede;
    max-width: 520px;
    background: #ffffff;
    padding: 40px 35px;
}
.row .logo {
    color: #2d2d2d;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    margin:0;
}
.row .logo span {
    -webkit-transition: 0.6s ease-in-out all;
    -o-transition: 0.6s ease-in-out all;
    transition: 0.6s ease-in-out all;
    color: #ff4500;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    font-family: 'Roboto', sans-serif;
}
.row .w1 {
    font-size: 20px;
    color: #ff4500;
    margin-bottom: 25px;
    border:0;
    width:100%;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
}
.row h2 {
    font-size: 38px;
    line-height: 1.6em;
    margin:0;
}
.row h3 {
    font-size: 28px;
    line-height: 1.4em;
    margin:0;
}
.footer {
    margin-top: auto;
    margin-bottom: 30px;
    align-items: center;
}

.btn-accept {
    background: #ff4500;
    color: #ffffff;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    border: 1px solid #ff4500;
    min-width: 210px;
    height:35px;
    font-size:15px;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    cursor:pointer;
}

.inp {
    margin-top:30px;
}
.btn-accept:hover {
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    color: #2d2d2d;
}
input[type="password"]:focus {
    box-shadow:none;
    outline-width:0;
    border:0;
    border-bottom:3px solid #ff4500;
}
button:focus {
    box-shadow:none;
    outline-width:0;
    border:0;
}
.errors {
    color:red;
}
.dashicons-admin-network:before{
    font-family: dashicons!important;
    content: "\f112";
} 

@media (min-width:1000px) {
    .welcome {
        min-width:580px;
    }
}
@media screen and (max-width:999px){
    .welcome {
        border: 0px solid #dedede;
        max-width: 100%;
        min-height: 300px;
        background: #ffffff;
        padding: 40px 35px;
    }
    #get3_login_page {
        position:absolute;
        background:#fff;
        display:block;
    }
    body {
        background:#fff;
    }
    .row h2 {
        font-size: 30px;
        line-height: 1.3em;
        margin:0 0 20px 0;
    }
    .row h3 {
        font-size: 20px;
        line-height: 1.4em;
        margin:0;
    }
    .btn-accept {
        width:100%;
    }
    
}